{% from "macros.jinja" import hiding_control %}
{% extends "base_logged.html" %}

{% macro render_field(field, label_visible=true) -%}
     <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}" id="form-group-{{ field.name }}">
        {% if field.type != 'HiddenField' and label_visible %}
            {{ field.label(class_='col-sm-4 control-label') }}
        {% endif %}
        <div class="col-sm-8 input-group">
          {{ field(class_='form-control', **kwargs) }}
          {% if field.errors %}
              {% for e in field.errors %}
                  <span class="help-block">{{ e }}</span>
              {% endfor %}
          {% endif %}
        </div>
    </div>
{%- endmacro %}


{% block page %}
<div id="page-wrapper-2">
  <div class="row">
    <div class="col-lg-12">
      <h1>{{_("Add a new template")}}</h1>
      <ol class="breadcrumb">
        <li><a href="{{ url_for('index') }}"><i class="fa fa-dashboard"></i> {{_("Controller")}}</a></li>
        <li class="active"><a href="{{ url_for('templates') }}"><i class="fa fa-fa-magic"></i> {{_("Templates")}}</a></li>
        <li class="active"><i class="fa fa-fa-magic"></i> {{_("Add template")}}</li>
      </ol>
    </div>
  </div><!-- /.row -->

  <div class="row">
      <div class="col-lg-12">
          {% if is_vpn %}
          <div id="vpn">
            <h1>VPN</h1>
            <div class="row">
              <div class="col-lg-12">
                <form method="POST" class="form-horizontal" role="form" action="{{ url_for('add_template', type='vpn') }}" id="vpn_template_form">
                  {{ vpn_form.csrf_token }}
                  {{ render_field(vpn_form.name) }}
                  {{ render_field(vpn_form.LTE_cloudGW) }}
                  {{ render_field(vpn_form.LTE_external_interface) }}
                  {{ render_field(vpn_form.LTE_local_identity) }}
                  {{ render_field(vpn_form.LTE_remote_identity) }}
                  {{ render_field(vpn_form.cloud_external_interface) }}
                  {{ render_field(vpn_form.cloud_local_address) }}   
                  {{ render_field(vpn_form.phase1_dh_group) }}
                  {{ render_field(vpn_form.phase1_authentication_algorithm) }}
                  {{ render_field(vpn_form.phase1_encryption_algorithm) }}
                  {{ render_field(vpn_form.phase1_pre_shared_key) }}
                  {{ render_field(vpn_form.phase1_dead_peer_detection_nterval) }}
                  {{ render_field(vpn_form.phase1_dead_peer_detection_threshold) }}
                  {{ render_field(vpn_form.phase2_authentication_algorithm) }}
                  {{ render_field(vpn_form.phase2_encryption_algorithm) }}
                  {{ render_field(vpn_form.phase2_perfect_forward_secrecy_keys) }}
          
                  <div class="panel panel-default" id="vpn_optional_panel" style="display: none">
                    <div class="panel-heading">
                      <h3 class="panel-title">{{hiding_control('hide_control', True)|safe }} Optional arguments</h3>
                    </div>
                    <div class="panel-body" id="vpn_optional_arguments" style="display: none">
                    </div>
                  </div>
          
                  <div class="form-group" id="vpn_submit">
                    <div class="col-sm-offset-4 col-sm-10">
                      <button type="submit" class="btn btn-default">{{_("Save template")}}</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- <div class="col-lg-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Functions docs</h3>
                  </div>
                  <div class="panel-body">
                    <pre id="doc-placeholder"></pre>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
          {% endif %}
          {% if is_utm %}          
          <div id="utm">
            <h1>UTM</h1>              
            <div class="row">
              <div class="col-lg-12">
                  <form method="POST" class="form-horizontal" role="form" action="{{ url_for('add_template', type='utm') }}" id="utm_template_form">
                    {{ utm_form.csrf_token }}
                    {{ render_field(utm_form.name)}}
                    <br/>
                    {{ render_field(utm_form.anti_virus)}}
                    <br/>                    
                    {{ render_field(utm_form.anti_spam)}}
                    {{ render_field(utm_form.antispam_default)}}
                    {{ render_field(utm_form.antispam_custom)}}
                    {{ render_field(utm_form.spam_black_list_value)}}
                    {{ render_field(utm_form.spam_black_list_pattern_name)}}
                    {{ render_field(utm_form.spam_action)}}
                    {{ render_field(utm_form.sbl_profile_name)}}
                    <br/>                    
                    {{ render_field(utm_form.url_filtering)}}
                    {{ render_field(utm_form.url_black_list_value)}}
                    {{ render_field(utm_form.url_black_list_pattern_name)}}
                    {{ render_field(utm_form.url_black_list_category_name)}}
                    {{ render_field(utm_form.url_black_list_action)}}
                    {{ render_field(utm_form.url_filtering_name)}}
                    <br/>                    
                    {{ render_field(utm_form.content_filtering)}}
                    {{ render_field(utm_form.confilter_name)}}
                    {{ render_field(utm_form.block_contype)}}
                    {{ render_field(utm_form.old_status)}}
                    {{ render_field(utm_form.old_policy_name)}}
                    {{ render_field(utm_form.old_src_zone)}}
                    {{ render_field(utm_form.old_dst_zone)}}
                    {{ render_field(utm_form.src_zone)}}
                    {{ render_field(utm_form.dst_zone)}}
                    {{ render_field(utm_form.src_address)}}
                    {{ render_field(utm_form.dst_address)}}
                    {{ render_field(utm_form.new_policy_name)}}
                    
                    
                    <div class="panel panel-default" id="utm_optional_panel" style="display: none">
                      <div class="panel-heading">
                        <h3 class="panel-title">{{hiding_control('hide_control', True)|safe }} Optional arguments</h3>
                      </div>
                      <div class="panel-body" id="utm_optional_arguments" style="display: none">
                      </div>
                    </div>
            
                    <div class="form-group" id="utm_submit">
                      <div class="col-sm-offset-4 col-sm-10">
                        <button type="submit" class="btn btn-default">{{_("Save template")}}</button>
                      </div>
                    </div>
                  </form>
              </div>
            </div>
          </div>
          {% endif %}
          {% if id_idp %}          
          <div id="idp">IDP</div>
          {% endif %}
      </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
$(function(){
  var anti_virus = $('#anti_virus');

  var anti_spam = $('#anti_virus');
  var antispam_default = $('#antispam_default');
  var antispam_custom = $('#antispam_custom');
  var spam_black_list_value = $('#spam_black_list_value');
  var spam_black_list_pattern_name = $('#spam_black_list_pattern_name');
  var spam_action = $('#spam_action');
  var sbl_profile_name = $('#sbl_profile_name');

  var url_filtering = $('#url_filtering');
  var url_black_list_value = $('#url_black_list_value');
  var url_black_list_pattern_name = $('#url_black_list_pattern_name');
  var url_black_list_category_name = $('#url_black_list_category_name');
  var url_black_list_action = $('#url_black_list_action');
  var url_filtering_name = $('#url_filtering_name');

  var content_filtering = $('#content_filtering');
  var confilter_name = $('#confilter_name');
  var block_contype = $('#block_contype');
  var old_status = $('#old_status');
  var old_policy_name = $('#old_policy_name');
  var old_src_zone = $('#old_src_zone');
  var old_dst_zone = $('#old_dst_zone');
  var src_zone = $('#src_zone');
  var dst_zone = $('#dst_zone');
  var src_address = $('#src_address');
  var dst_address = $('#dst_address');
  var new_policy_name = $('#new_policy_name');
  
  anti_spam.change(function(){
    var val = $(this).val();    
    if (val === 'enable') {
      show_anti_spam(true);
    } else {
      show_anti_spam(false);      
    }
  });

  antispam_default.change(function(){
    var val = $(this).val();
    if (val === 'enable') {
      antispam_custom.val('noenable');
    } else {
      antispam_custom.val('enable');      
    }
  });

  antispam_custom.change(function(){
    var val = $(this).val();
    if (val === 'enable') {
      antispam_default.val('noenable');
      show_antispam_custom(true);
    } else {
      antispam_default.val('enable');
      show_antispam_custom(false);          
    }
  });

  url_filtering.change(function(){
    var val = $(this).val();
    if (val === 'enable') {
      show_url_filtering(true);
    } else {
      show_url_filtering(false);      
    }
  });

  content_filtering.change(function(){
    var val = $(this).val();
    if (val === 'enable') {
      show_content_filtering(true);
    } else {
      show_content_filtering(false);      
    }
  });

});
</script>
{% endblock %}
