{% extends "base_logged.html" %}
{% block page %}


<div class="row">
    <div class="col-lg-12">
        <h1>{{_("Topo")}} 
            <small>{{_("Control path")}}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('index') }}"><i class="fa fa-dashboard"></i> {{_("Controller")}}</a></li>
            <li class="active"><i class="fa fa-rocket"></i> {{_("Control path")}}</li>
        </ol>
    </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <div class="container-fluid">
      <canvas id="canvas" width="900px" height="600px" style="background-color: rgba(0, 0, 0, 0.5);border: 1px solid rgb(68, 68, 68);cursor: default;"></canvas>
    </div>
    <ul id="contextmenu">
      <li><a id="config-vpn-template">配置VPN模板</a></li>
      <li><a id="config-utm-template">配置UTM模板</a></li>
      <li><a id="config-idp-template">配置IDP模板</a></li>
      
      <!-- <li><a id="check-info">查看信息</a></li> -->
      <!-- <a><a>删除</a></a>     -->
    </ul>
  </div>
</div>
<div id="config-template-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">配置模板</h4>
      </div>
      <div class="modal-body">
        <table id="templates" class="table table-bordered table-hover template-table">
          <thead>
            <tr>
              <th>序号</th>
              <th>模板名称</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr>
              <td>1</td>
              <td>VPN</td>
              <td>
                <button class="btn btn-primary apply-template" data-template-type="vpn">应用</button>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>探针</td>
              <td>
                <button class="btn btn-primary apply-template" data-template-type="probe">应用</button>
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">关闭</button>
        <button class="btn btn-primary">确定</button>        
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/fastclick.min.js') }}"></script>
{% assets "control_path_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
