{% extends "base_logged.html" %}
{% block page %}


<div class="row">
    <div class="col-lg-12">
        <h1>{{_("Nodes")}} 
            <small>{{_("HealthChecks")}}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('index') }}"><i class="fa fa-dashboard"></i> {{_("Controller")}}</a></li>
            <li class="active"><i class="fa fa-plus-square"></i> {{_("HealthChecks")}}</li>
        </ol>
    </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <h2>{{_("Nodes")}}{{device.node_name}}</h2>   
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div id="cpu" style="height: 400px;"></div>
  </div>
  <div class="col-lg-6">
    <div id="memory" style="height: 400px;"></div>      
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
      <div id="flow" style="height: 400px;"></div>
  </div> 
</div>


{% endblock %}

{% block scripts %}
{% assets "health_checks_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}
