{% from "macros.jinja" import hiding_control %}
{% extends "base_logged.html" %}

{% macro render_field(field, label_visible=true) -%}
     <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}" id="form-group-{{ field.name }}">
        {% if field.type != 'HiddenField' and label_visible %}
            {{ field.label(class_='col-sm-5 control-label') }}
        {% endif %}
        <div class="col-sm-7 input-group">
          {{ field(class_='form-control', **kwargs) }}
          {% if field.errors %}
              {% for e in field.errors %}
                  <span class="help-block">{{ e }}</span>
              {% endfor %}
          {% endif %}
        </div>
    </div>
{%- endmacro %}


{% block page %}
<div id="page-wrapper-3">
  <div class="row">
    <div class="col-lg-12">
      <h1>{{_("Edit template")}}</h1>
      <ol class="breadcrumb">
        <li><a href="{{ url_for('index') }}"><i class="fa fa-dashboard"></i> {{_("Controller")}}</a></li>
        <li class="active"><a href="{{ url_for('templates') }}"><i class="fa fa-fa-magic"></i> {{_("Templates")}}</a></li>
        <li class="active"><i class="fa fa-fa-magic"></i> {{_("Edit template")}}</li>
      </ol>
    </div>
  </div><!-- /.row -->

  <div class="row">
    <div class="col-lg-12">
      {% if is_vpn %}
      <div id="vpn">
        <h1>VPN</h1>
        <div class="row">
          <div class="col-lg-12">
            <form method="POST" class="form-horizontal" role="form" action="{{ url_for('edit_VPN_template', tid=tid) }}" id="vpn_template_form">
              {{ vpn_form.csrf_token }}
              {{ render_field(vpn_form.name) }}
              {{ render_field(vpn_form.LTE_cloudGW) }}
              {{ render_field(vpn_form.LTE_external_interface) }}
              {{ render_field(vpn_form.LTE_local_identity) }}
              {{ render_field(vpn_form.LTE_remote_identity) }}
              {{ render_field(vpn_form.cloud_external_interface) }}
              {{ render_field(vpn_form.cloud_local_address) }}   
              {{ render_field(vpn_form.phase1_dh_group) }}
              {{ render_field(vpn_form.phase1_authentication_algorithm) }}
              {{ render_field(vpn_form.phase1_encryption_algorithm) }}
              {{ render_field(vpn_form.phase1_pre_shared_key) }}
              {{ render_field(vpn_form.phase1_dead_peer_detection_nterval) }}
              {{ render_field(vpn_form.phase1_dead_peer_detection_threshold) }}
              {{ render_field(vpn_form.phase2_authentication_algorithm) }}
              {{ render_field(vpn_form.phase2_encryption_algorithm) }}
              {{ render_field(vpn_form.phase2_perfect_forward_secrecy_keys) }}
      
              <div class="panel panel-default" id="vpn_optional_panel" style="display: none">
                <div class="panel-heading">
                  <h3 class="panel-title">{{hiding_control('hide_control', True)|safe }} Optional arguments</h3>
                </div>
                <div class="panel-body" id="vpn_optional_arguments" style="display: none">
                </div>
              </div>
      
              <div class="form-group" id="vpn_submit">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">{{_("Save template")}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% endif %}
      {% if is_utm %}
      <div id="utm">
        <h1>VPN</h1>
        <div class="row">
          <div class="col-lg-12">
            <form method="POST" class="form-horizontal" role="form" action="{{ url_for('edit_utm_template', tid=tid) }}" id="utm_template_form">
                {{ utm_form.csrf_token }}
                {{ render_field(utm_form.name)}}
                <br/>
                {{ render_field(utm_form.anti_virus)}}
                <br/>                    
                {{ render_field(utm_form.anti_spam)}}
                {{ render_field(utm_form.antispam_default)}}
                {{ render_field(utm_form.antispam_custom)}}
                {{ render_field(utm_form.spam_black_list_value)}}
                {{ render_field(utm_form.spam_black_list_pattern_name)}}
                {{ render_field(utm_form.spam_action)}}
                <br/>                    
                {{ render_field(utm_form.url_filtering)}}
                {{ render_field(utm_form.url_black_list_value)}}
                {{ render_field(utm_form.url_black_list_pattern_name)}}
                {{ render_field(utm_form.url_black_list_category_name)}}
                {{ render_field(utm_form.url_black_list_action)}}
                <br/>                    
                {{ render_field(utm_form.content_filtering)}}
                {{ render_field(utm_form.block_contype)}}
                {{ render_field(utm_form.old_status)}}
                {{ render_field(utm_form.old_policy_name)}}
                {{ render_field(utm_form.old_src_zone)}}
                {{ render_field(utm_form.old_dst_zone)}}
                {{ render_field(utm_form.src_zone)}}
                {{ render_field(utm_form.dst_zone)}}
                {{ render_field(utm_form.src_address)}}
                {{ render_field(utm_form.dst_address)}}
                {{ render_field(utm_form.new_policy_name)}}
              <div class="panel panel-default" id="utm_optional_panel" style="display: none">
                <div class="panel-heading">
                  <h3 class="panel-title">{{hiding_control('hide_control', True)|safe }} Optional arguments</h3>
                </div>
                <div class="panel-body" id="utm_optional_arguments" style="display: none">
                </div>
              </div>
      
              <div class="form-group" id="utm_submit">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">{{_("Save template")}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% endif %}
      {% if is_idp %}          
      <div id="idp">IDP</div>
      {% endif %}
    </div> 
  </div>
{% endblock %}

{% block scripts %}
<script>
$(function(){

  /* UTM */
  var anti_virus = $('#anti_virus');

  var anti_spam = $('#anti_virus');
  var antispam_default = $('#antispam_default');
  var form_antispam_default = $('#form-group-antispam_default');
  var antispam_custom = $('#antispam_custom');
  var form_antispam_custom = $('#form-group-antispam_custom');  
  var spam_black_list_value = $('#spam_black_list_value');
  var form_spam_black_list_value = $('#form-group-spam_black_list_value');
  var spam_black_list_pattern_name = $('#spam_black_list_pattern_name');
  var form_spam_black_list_pattern_name = $('#form-group-spam_black_list_pattern_name');
  var spam_action = $('#spam_action');
  var form_spam_action = $('#form-group-spam_action');

  var url_filtering = $('#url_filtering');
  var url_black_list_value = $('#url_black_list_value');
  var form_url_black_list_value = $('#form-group-url_black_list_value');  
  var url_black_list_pattern_name = $('#url_black_list_pattern_name');
  var form_url_black_list_pattern_name = $('#form-group-url_black_list_pattern_name');  
  var url_black_list_category_name = $('#url_black_list_category_name');
  var form_url_black_list_category_name = $('#form-group-url_black_list_category_name');  
  var url_black_list_action = $('#url_black_list_action');
  var form_url_black_list_action = $('#form-group-url_black_list_action'); 

  var content_filtering = $('#content_filtering');
  var block_contype = $('#block_contype');
  var form_block_contype = $('#form-group-block_contype');

  var old_status = $('#old_status');
  var old_policy_name = $('#old_policy_name');
  var form_old_policy_name = $('#form-group-old_policy_name');  
  var old_src_zone = $('#old_src_zone');
  var form_old_src_zone = $('#form-group-old_src_zone');  
  var old_dst_zone = $('#old_dst_zone');
  var form_old_dst_zone = $('#form-group-old_dst_zone');  
  var src_zone = $('#src_zone');
  var form_src_zone = $('#form-group-src_zone');  
  var dst_zone = $('#dst_zone');
  var form_dst_zone = $('#form-group-dst_zone');  
  var src_address = $('#src_address');
  var form_src_address = $('#form-group-src_address');  
  var dst_address = $('#dst_address');
  var form_dst_address = $('#form-group-dst_address');  
  var new_policy_name = $('#new_policy_name');
  var form_new_policy_name = $('#form-group-new_policy_name');  
  
  anti_spam.change(function(){
    var val = $(this).val();  
    anti_spam_control(val);  
  });

  antispam_default.change(function(){
    var val = $(this).val();
    antispam_default_control(val);
  });

  antispam_custom.change(function(){
    var val = $(this).val();
    antispam_custom_control(val);
  });

  url_filtering.change(function(){
    var val = $(this).val();
    url_filtering_control(val);    
  });

  content_filtering.change(function(){
    var val = $(this).val();
    content_filtering_control(val);
  });

  old_status.change(function(){
    var val = $(this).val();
    old_status_control(val);
  });


  function show_anti_spam(flag) {
    if (flag) {
      form_antispam_default.show();
      form_antispam_custom.show();
    } else {
      form_antispam_default.hide();
      form_antispam_custom.hide();
    }
  }
  function show_antispam_custom(flag) {
    if (flag) {
      form_spam_action.show();
      form_spam_black_list_pattern_name.show();
      form_spam_black_list_value.show();
    } else {
      form_spam_action.hide();
      form_spam_black_list_pattern_name.hide();
      form_spam_black_list_value.hide();
    }
  }
  function show_url_filtering(flag) {
    if (flag) {
      form_url_black_list_value.show();
      form_url_black_list_pattern_name.show();
      form_url_black_list_category_name.show();
      form_url_black_list_action.show();
    } else {
      form_url_black_list_value.hide();
      form_url_black_list_pattern_name.hide();
      form_url_black_list_category_name.hide();
      form_url_black_list_action.hide();
    }
  }
  function show_content_filtering(flag) {
    if (flag) {
      form_block_contype.show();
    } else {
      form_block_contype.hide();
    }
  }
  function show_old_policy(flag) {
    if (flag) {
      form_old_policy_name.show();
      form_old_src_zone.show();
      form_old_dst_zone.show();
      form_src_zone.hide();
      form_dst_zone.hide();
      form_src_address.hide();
      form_dst_address.hide();
      form_new_policy_name.hide();
    } else {
      form_old_policy_name.hide();
      form_old_src_zone.hide();
      form_old_dst_zone.hide();
      form_src_zone.show();
      form_dst_zone.show();
      form_src_address.show();
      form_dst_address.show();
      form_new_policy_name.show();
    }
  }

  function anti_spam_control(val) {
    if (val === 'enable') {
      show_anti_spam(true);
    } else {
      show_anti_spam(false);      
    }
  }
  function antispam_default_control(val) {
    if (val === 'enable') {
      antispam_custom.val('noenable');
      show_antispam_custom(false);      
    } else {
      antispam_custom.val('enable');   
      show_antispam_custom(true); 
    }
  }
  function antispam_custom_control(val) {
    if (val === 'enable') {
      antispam_default.val('noenable');
      show_antispam_custom(true);      
    } else {
      antispam_default.val('enable');   
      show_antispam_custom(false); 
    }
  }
  function url_filtering_control(val) {
    if (val === 'enable') {
      show_url_filtering(true);
    } else {
      show_url_filtering(false);      
    }
  }
  function content_filtering_control(val) {
    if (val === 'enable') {
      show_content_filtering(true);
    } else {
      show_content_filtering(false);      
    }
  }
  function old_status_control(val) {
    if (val === 'enable') {
      show_old_policy(true);
    } else {
      show_old_policy(false);
    } 
  }


  function initUTM() {    
    anti_spam_control(anti_spam.val());
    antispam_default_control(antispam_default.val());
    antispam_custom_control(antispam_custom.val());
    url_filtering_control(url_filtering.val());
    content_filtering_control(content_filtering.val());
    old_status_control(old_status.val());
  }

  initUTM();

  /* IDP */
});
</script>
{% endblock %}
