{% extends "base_logged.html" %}

{% block page %}


<div class="row">
    <div class="col-lg-12">
        <h1>Jobs templates</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('index') }}"><i class="fa fa-dashboard"></i> Controller</a></li>
            <li class="active"><i class="fa fa-magic"></i> Templates</li>
        </ol>
    </div>
</div><!-- /.row -->

<div class="alert alert-warning" role="alert">Jobs templates are saved in salt-master configuration and adding a new
    template will change the salt-master configuration formatting and will strip comments. See <a
            href="http://docs.saltstack.com/en/latest/ref/wheel/all/salt.wheel.config.html#salt.wheel.config.apply">the
        documentation for more details.</a></div>

<div class="row">
    <div class="col-lg-12">
        <h2>Templates <a href="{{ url_for('add_template') }}">
            <button type="button" class="btn btn-info">Add a template</button>
        </a></h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover tablesorter" id="minions">
                <thead>
                <tr>
                    <th>name</th>
                    <th>network_segment</th>
                    <th>dh_group</th>
                    <th>authentication_algorithm</th>
                    <th>encryption_algorithm</th>
                    <th>pre_shared_key</th>
                    <th>ipsec_protocol</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for template in templates %}
                    <td>{{ template.name }}</td>
                    <td>{{ template.network_segment }}</td>
                    <td>{{ template.dh_group }}</td>
                    <td>{{ template.authentication_algorithm }}</td>
                    <td>{{ template.encryption_algorithm }}</td>
                    <td>{{ template.pre_shared_key }}</td>
                    <td>{{ template.ipsec_protocol }}</td>
                    <td>
                      <a href="#">修改</a>
                      <a href="#" onclick="delTemplate('{{template.name}}', '{{template.network_segment}}')">删除</a>                      
                    </td>
                    <!-- <td><a href="{{ url_for('run_template', template=template_name) }}">Launch now</a></td> -->
                  </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function delTemplate(name, network_segment) {
      console.log(name, network_segment);
      $.ajax({
        url: '/templates/VPN/delete',
        method: 'POST',
        headers: {
          'content-type': 'application/json'
        },
        data: JSON.stringify({
          name: name,
          network_segment: network_segment
        })
      }).done(function(msg) {
        console.log(msg);
      }).fail(function(err){
        console.log(err);
      })
    }
    $(function () {
        // $("#minions").dataTable({
        //     "order": [[0, "desc"]],
        //     "lengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]],
        //     "columnDefs": [
        //         {"orderable": false, "targets": -1}
        //     ]
        // });
    });
</script>
{% endblock %}
