{% extends "base_logged.html" %} {% block page %}


<div class="row">
  <div class="col-lg-12">
    <h1>{{_("Jobs templates")}}</h1>
    <ol class="breadcrumb">
      <li>
        <a href="{{ url_for('index') }}">
          <i class="fa fa-dashboard"></i> {{_("Controller")}}</a>
      </li>
      <li class="active">
        <i class="fa fa-magic"></i> {{_("Templates")}}</li>
    </ol>
  </div>
</div>
<!-- /.row -->

<div class="alert alert-warning" role="alert">Jobs templates are saved in salt-master configuration and adding a new template will change the salt-master configuration
  formatting and will strip comments. See
  <a href="http://docs.saltstack.com/en/latest/ref/wheel/all/salt.wheel.config.html#salt.wheel.config.apply">the documentation for more details.</a>
</div>
<div class="row">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#vpn" data-toggle="tab">VPN</a>
    </li>
    <li>
      <a href="#utm" data-toggle="tab">UTM</a>
    </li>
    <li >
      <a href="#idp" data-toggle="tab">IDP</a>
    </li>
  </ul>
</div>

<div class="tab-content">
    <div class="row tab-pane active" id="vpn">
      <div class="col-lg-12">
        <h2>VPN {{_("Templates")}}
          <a href="{{ url_for('add_template', type='vpn') }}">
            <button type="button" class="btn btn-info">{{_("Add a template")}}</button>
          </a>
        </h2>
        <div class="table-responsive">
          <table class="table table-bordered table-hover tablesorter">
            <thead>
              <tr>
                <th>#</th>                  
                <th>name</th>
                <!-- <th>LTE_cloudGW</th>
                <th>LTE_external_interface</th>
                <th>LTE_local_identity</th>
                <th>LTE_remote_identity</th>
                <th>cloud_external_interface</th>
                <th>cloud_local_address</th>
                <th>phase1_dh_group</th>
                <th>phase1_authentication_algorithm</th>
                <th>phase1_encryption_algorithm</th>
                <th>phase1_pre_shared_key</th>
                <th>phase1_dead_peer_detection_nterval</th>
                <th>phase1_dead_peer_detection_threshold</th>
                <th>phase2_authentication_algorithm</th>
                <th>phase2_encryption_algorithm</th>
                <th>phase2_perfect_forward_secrecy_keys</th> -->
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for template in vpn_templates %}
                <td>{{vpn_templates.index(template)}}</td>                
                <td>{{ template.name }}</td>
                <!-- <td>{{ template.LTE_cloudGW }}</td>
                <td>{{ template.LTE_external_interface }}</td>
                <td>{{ template.LTE_local_identity }}</td>
                <td>{{ template.LTE_remote_identity }}</td>
                <td>{{ template.cloud_external_interface }}</td>
                <td>{{ template.cloud_local_address }}</td>
                <td>{{ template.phase1_dh_group }}</td>
                <td>{{ template.phase1_authentication_algorithm }}</td>
                <td>{{ template.phase1_encryption_algorithm }}</td>
                <td>{{ template.phase1_pre_shared_key }}</td>
                <td>{{ template.phase1_dead_peer_detection_nterval }}</td>
                <td>{{ template.phase1_dead_peer_detection_threshold }}</td>
                <td>{{ template.phase2_authentication_algorithm }}</td>
                <td>{{ template.phase2_encryption_algorithm }}</td>
                <td>{{ template.phase2_perfect_forward_secrecy_keys }}</td> -->
    
                <td>
                  <a href="{{url_for('edit_VPN_template', tid=template.tid)}}">修改</a>
                  <a href="#" onclick="delTemplate('{{template.name}}', '{{template.network_segment}}')">删除</a>
                </td>
                <!-- <td><a href="{{ url_for('run_template', template=template_name) }}">Launch now</a></td> -->
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <div class="row tab-pane" id="utm" >
      <div class="col-lg-12">
        <h2>UTM {{_("Templates")}}
          <a href="{{ url_for('add_template', type='utm') }}">
            <button type="button" class="btn btn-info">{{_("Add a template")}}</button>
          </a>
        </h2>
        <div class="table-responsive">
          <table class="table table-bordered table-hover tablesorter">
            <thead>
              <tr>
                <th>#</th>
                <th>name</th>
                <!-- <th>content_filtering</th>
                <th>anti_virus</th>
                <th>antivirus_http</th>
                <th>antivirus_smtp</th>
                <th>antivirus_ftp</th>
                <th>anti_spam</th>
                <th>antispam_default</th>
                <th>antispam_custom</th>
                <th>spam_black_list_value</th>
                <th>spam_black_list_pattern_name</th>
                <th>spam_white_list_value</th>
                <th>spam_white_list_pattern_name</th>
                <th>spam_action</th>
                <th>custom_tag_string</th>
                <th>sbl_profile_name</th>

                <th>url_filtering</th>
                <th>url_black_list_value</th>
                <th>url_black_list_pattern_name</th>
                <th>url_black_list_category_name</th>
                <th>url_black_list_action</th>
                <th>url_white_list_value</th>
                <th>url_white_list_pattern_name</th>
                <th>url_white_list_category_name</th>
                <th>url_white_list_action</th>
                <th>fallback_setting_default</th>
                <th>fallback_setting_server_connectivity</th>
                <th>fallback_setting_timeout</th>
                <th>fallback_setting_too_many_requests</th>
                <th>url_filtering_name</th>
                <th>file_ext_name</th>
                <th>file_ext_val</th>
                <th>mine_name</th>
                <th>mine_val</th>
                <th>ex_mine_name</th>
                <th>ex_mine_val</th>
                <th>confilter_name</th>
                <th>block_contype</th>
                <th>old_status</th>
                <th>old_policy_name</th>
                <th>old_src_zone</th>
                <th>old_dst_zone</th>
                <th>src_zone</th>
                <th>dst_zone</th>
                <th>src_address</th>
                <th>dst_address</th>
                <th>new_policy_name</th> -->
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for template in utm_templates %}
                <td>{{utm_templates.index(template)}}</td>                                
                <td>{{ template.name }}</td>
                <!-- <td>{{ template.LTE_cloudGW }}</td>
                <td>{{ template.LTE_external_interface }}</td>
                <td>{{ template.LTE_local_identity }}</td>
                <td>{{ template.LTE_remote_identity }}</td>
                <td>{{ template.cloud_external_interface }}</td>
                <td>{{ template.cloud_local_address }}</td>
                <td>{{ template.phase1_dh_group }}</td>
                <td>{{ template.phase1_authentication_algorithm }}</td>
                <td>{{ template.phase1_encryption_algorithm }}</td>
                <td>{{ template.phase1_pre_shared_key }}</td>
                <td>{{ template.phase1_dead_peer_detection_nterval }}</td>
                <td>{{ template.phase1_dead_peer_detection_threshold }}</td>
                <td>{{ template.phase2_authentication_algorithm }}</td>
                <td>{{ template.phase2_encryption_algorithm }}</td>
                <td>{{ template.phase2_perfect_forward_secrecy_keys }}</td> -->
    
                <td>
                  <a href="{{url_for('edit_UTM_template', tid=template.tid)}}">修改</a>
                  <a href="#" onclick="delTemplate('{{template.name}}', '{{template.network_segment}}')">删除</a>
                </td>
                <!-- <td><a href="{{ url_for('run_template', template=template_name) }}">Launch now</a></td> -->
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <div class="row tab-pane" id="idp">
      <div class="col-lg-12">
        <h2>IDP {{_("Templates")}}
          <a href="{{ url_for('add_template', type='idp') }}">
            <button type="button" class="btn btn-info">{{_("Add a template")}}</button>
          </a>
        </h2>
        <div class="table-responsive">
          <table class="table table-bordered table-hover tablesorter">
            <thead>
              <tr>
                <th># </th>
                <th>name</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for template in vpn_templates %}
                <td>{{vpn_templates.index(template)}}</td>                
                <td>{{ template.name }}</td>
                <td>
                  <a href="{{url_for('edit_VPN_template', tid=template.tid)}}">修改</a>
                  <a href="#" onclick="delTemplate('{{template.name}}', '{{template.network_segment}}')">删除</a>
                </td>
                <!-- <td><a href="{{ url_for('run_template', template=template_name) }}">Launch now</a></td> -->
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

{% endblock %} {% block scripts %}
<script type="text/javascript">
  function delTemplate(name, network_segment) {
    if (confirm('确认删除？')) {
      $.ajax({
        url: '/templates/VPN/delete',
        method: 'POST',
        headers: {
          'content-type': 'application/json'
        },
        data: JSON.stringify({
          name: name,
          network_segment: network_segment
        })
      }).done(function (msg) {
        alert('删除成功');
        window.location.reload();
      }).fail(function (err) {
        alert(err);
      })
    }

  }
</script> {% endblock %}
